PORT=8000
MONGODB_URI=mongodb+srv://manishgkapse11_db_user:Mani3023@cluster0.abajbub.mongodb.net

CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=Manish

ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=Manish-backen

REFRESH_TOKEN_EXPIRY=7d

CLOUDINARY_CLOUD_NAME=dk9vipi9a
CLOUDINARY_CLOUD_API_KEY=994512732226446
CLOUDINARY_CLOUD_API_SECRET=zsAzabvjQTU0